@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    TempData["Title"] = "Index";
}

<h1 style="text-align:center;">Products Catalogue</h1>
<hr />
<br />

<!--Using this format for every product-->

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        { /*
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img src="@product.ImageUrl" class="card-img-top card-image" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">€@product.Price</p>
                        <a href="#" class="btn btn-primary">View Specifications</a>
                    </div>
                </div>
            </div>
            */

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@product.ImageUrl" class="card-img" alt="@product.Name" style="width: 180px; height: 180px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">€@product.Price</p>
                            <a href="D:\amber\vs_revision\revisionEP\Presentation\Views\Products\Index.cshtml"></a>
                            <!--The link that will connect us to details.html                 \Index.cshtml-->
                            <a href="Products\Details?id=@product.Id" class="btn btn-dark">View Specifications</a>
                            <a href="Products\Delete?id=@product.Id" onclick="return window.confirm('Are you sure you want to delete this product?')" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
         }
    </div>
</div>
