<!--
@model ShoppingCart.Application.ViewModels.OrderDetailsViewModel

<div>
    <h4>OrderDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
    </dl>
</div>
-->
