@model ShoppingCart.Application.ViewModels.ProductViewModel


<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        €@Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        Image
    </dt>
    <dd class="col-sm-10">
        <img src="@Model.ImageUrl" alt="@Model.Name" style="width:200px;height:150px;" />
    </dd>
    <dt class="col-sm-2">
        Category
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Category.Name)
    </dd>

</dl>
@if (User.Identity.IsAuthenticated)
{
    <a href="/Orders/AddingToCart?productId=@Model.Id" class="btn btn-outline-dark ">Add to cart</a>
}
else
{
    <br />
    <hr />
    <p style="text-align:center; font-size: 150%;"><b><i>Please Register with our website in order to Shop. Thankyou & Enjoy!</i></b> </p>
}
    
